#
# The following variables need to be defined in the GitLab Project:
#
# - REGISTRY: hostname/path to the docker registry
# - REGISTRY_CONF: b64 encoded docker config.json that allows pushing image(s)
#

stages:
  - build

# Testing versions like: v2.739rc35 -> v2.739rc, v2rc, testing / v32.0rc1 -> v32.0rc, v32rc, testing

testing-build:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+rc[0-9]+$/
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "${REGISTRY_CONF}" |base64 -d > /kaniko/.docker/config.json
    - export TAG="${CI_COMMIT_TAG}"
    - >-
      /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --build-arg "version=${CI_COMMIT_TAG}"
      --destination "${REGISTRY}/${CI_PROJECT_NAME}:${TAG%%rc*}rc"
      --destination "${REGISTRY}/${CI_PROJECT_NAME}:${TAG%%.*}rc"
      --destination "${REGISTRY}/${CI_PROJECT_NAME}:testing"

# Stable versions like: v8.23 -> v8.23, v8, latest / v3.0 -> v3.0, v3, latest

latest-build:
  stage: build
  rules:
    - if: $CI_COMMIT_TAG =~ /^v[0-9]+\.[0-9]+$/
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo "${REGISTRY_CONF}" |base64 -d > /kaniko/.docker/config.json
    - export TAG="${CI_COMMIT_TAG}"
    - >-
      /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --build-arg "version=${CI_COMMIT_TAG}"
      --destination "${REGISTRY}/${CI_PROJECT_NAME}:${TAG}"
      --destination "${REGISTRY}/${CI_PROJECT_NAME}:${TAG%%.*}"
      --destination "${REGISTRY}/${CI_PROJECT_NAME}:latest"
